In [14]:
num = 25 

if num/2==0: 

    print("even")
else:

    print("odd")

odd

In [31]:
def salary(num):
    if num%2==0: 

        print("even")
    
    else:
    
        print("odd")

In [33]:
num

25

In [37]:
salary(78)

even

In [48]:
#print and return 
def were():
    return('6+ lakh package')

In [49]:
were()

'6+ lakh package'

In [50]:
val= were()

In [51]:
print(val)

6+ lakh package

In [55]:
# arg kwargs

def check(odd,even =2):
    print('first number is od {} secoond number is even {}'.format(odd,even))

In [56]:
check (42)

first number is od 42 secoond number is even 2

In [62]:
lst =[1,2,3,4,5,6,7]

In [66]:
def oddeven(lst):
    odd=0
    even=0
    for i in lst:
        if i%2==0:
            even=even +1
        else:
            odd= odd + 1
    return even,odd

In [67]:
oddeven(lst)

(3, 4)

# lambda functon

In [6]:
def add(a,b):
    
    return a+b

In [8]:
add(2,2)

4

In [10]:
add= lambda a,b:a+b

In [11]:
add(333333,444444)

777777

In [25]:
def divv(num):
    if num%2==0:
        return True
    else:
        return False

In [27]:
divv(307)

False

In [28]:
call = lambda a:a%2==0

In [29]:
call(2223)

False

In [34]:
def divv(num):
    if num%2==0:
        return ("the num {} is even".format(num))
    else:
        return ("the num {} is odd".format(num))

In [44]:
lst = (1,2,3,4,5,6,7,8,9)

In [37]:
list(map(divv,lst))

['the num 1 is odd',
 'the num 2 is even',
 'the num 3 is odd',
 'the num 4 is even',
 'the num 5 is odd',
 'the num 6 is even',
 'the num 7 is odd',
 'the num 8 is even',
 'the num 9 is odd']

# filter

In [39]:
def divv(num):
    if num%2==0:
        return ("the num {} is even".format(num))

In [40]:
list(filter(divv,lst))

[2, 4, 6, 8]

In [46]:
list (filter(lambda num:num%2==0,lst))

[2, 4, 6, 8]


LIST COMPREHENSION

In [56]:
lst1=[]
def square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [57]:
square([1,2,3,4,5,6,7,8])

[1, 4, 9, 16, 25, 36, 49, 64]

In [58]:
lst=[2,3,4,5,6,7]

In [59]:
#list comprehension 

[i*i for i in lst]

[4, 9, 16, 25, 36, 49]