In [3]:
import pandas as pd
import numpy as np

#lets open mercedes benz dataset

df = pd.read_csv('train.csv',usecols=['X1','X2'])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [5]:
df.shape

(4209, 2)

## One Hot encoding

In [8]:
pd.get_dummies(df).shape

(4209, 71)

In [13]:
len(df['X1'].unique())

27

In [14]:
len(df['X2'].unique())

44

In [16]:
#Lets obtain the counts for each one of the labels in variable X2

df.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'z': 19,
 'ag': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'y': 11,
 'ap': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'q': 5,
 'al': 5,
 'an': 5,
 'ah': 4,
 'av': 4,
 'p': 4,
 'au': 3,
 'l': 1,
 'j': 1,
 'am': 1,
 'aa': 1,
 'af': 1,
 'c': 1,
 'o': 1,
 'ar': 1}

In [17]:
# And now replace each label in X2 wit its count

# First we make a dictionary that maps each labels to the counts

df_frequency_map = df.X2.value_counts().to_dict()

In [18]:
df.head(100)

    X1  X2
0    v  at
1    t  av
2    w   n
3    t   n
4    v   n
..  ..  ..
95   b   m
96   l  as
97  aa  as
98   b   m
99   s   m

[100 rows x 2 columns]